html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}
.boxes{
    background-image: linear-gradient(135deg, purple, blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.box{ 
    overflow: hidden;
    flex-direction: column;
    display: flex;
    width: 450px;
    height: 700px;
    border: 10px solid black;
    border-bottom: 40px solid black;
    border-radius: 50px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orange;
}
.klass{
    background-color: aqua;
}
.nomer{
    background-color: white;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
.btn1{
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0 0 10px 3px rgb(104, 104, 104);
}
.btn1:hover{
    background-color: black;
    color: yellow;
    border-radius: 50px;
    border: 3px solid yellow;
    box-shadow: 0 0 10px 3px rgb(253, 253, 79);
    transition: 0.4s linear;
}
.kunopka{
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0 0 10px 3px rgb(104, 104, 104);
}
.kunopka:hover{
    background-color: black;
    color: yellow;
    border-radius: 50px;
    border: 3px solid yellow;
    box-shadow: 0 0 10px 3px rgb(253, 253, 79);
    transition: 0.4s linear;
}
.center{
    overflow: auto;
}
img{
    width: 100%;
}
.div{
    padding: 5px 35px ;
    border-radius: 50%;
}
.div:hover{
    box-shadow: 0 0 10px 5px yellow ;
    border-radius: 50px;
    text-align: center;
    transition: 0.5s linear;
    padding: 5px 33px;
}
.menu{
    text-align: center;
    font-size: 40px;
    padding: 0;
}
.link{
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}