*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: linear-gradient(135deg, teal, pink);
    height: 100vh;
    overflow: hidden;
}
.boxes{
    background-image: linear-gradient(135deg, purple, blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.box{
    height: 700px;
    width: 450px;
    overflow: hidden;
    border: 5px solid black;
    border-bottom: 40px solid black;
    border-radius: 40px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orange;
}
.btn1{
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0 0 10px 3px rgb(104, 104, 104);
}
.btn1:hover{
    background-color: black;
    color: yellow;
    border-radius: 50px;
    border: 3px solid yellow;
    box-shadow: 0 0 10px 3px rgb(253, 253, 79);
    transition: 0.4s linear;
}
.kunopka{
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0 0 10px 3px rgb(104, 104, 104);
}
.kunopka:hover{
    background-color: black;
    color: yellow;
    border-radius: 50px;
    border: 3px solid yellow;
    box-shadow: 0 0 10px 3px rgb(253, 253, 79);
    transition: 0.4s linear;
}
.comment{
    font-size: 50px;
    color: yellow;
    margin: 40px 175px;
}
.text{
    text-align: center;
    margin-top: 20px;
}
.center{
    overflow: auto;
}
.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
    background-color: orange;
    margin-top: 50%;
    padding: 15px;
}
.div:hover{
    box-shadow: 0 0 10px 5px yellow ;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    transition: 0.5s linear;
    padding: 5px 33px;
}
.btn{
    color: black;
    font-size: 15px;
}
.btn3{
    padding: 10px;
}
.btn4{
    background-color: yellow;
    padding: 3px;
    border-radius: 5px;
}
.menu{
    font-size: 40px;
    padding: 0;
}
.link{
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}